.address {
  padding: 56px 0 0;

  @media (min-width: @tablet-width) {
    padding-top: 126px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 118px;
  }
}

.address__container {
  position: relative;
  z-index: @z-index-address-container;
  background-color: @basic-yellow;
  border-radius: 25px;

  @media (min-width: @tablet-width) {
    border-radius: 0 0 56px 56px;
  }
}

.address__wrapper {
  padding: 0 25px 35px;

  @media (min-width: @tablet-width) {
    padding: 0 75px 84px;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    width: 1322px;
    padding: 0 75px 61px;
  }
}

.address__address {
  position: relative;
  margin: 0 0 32px;
  padding: 2px 0 0 62px;
  font-weight: 700;
  text-transform: uppercase;
  color: @basic-blue-light;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 45px;
    height: 45px;
    background-image: url("../../img/backgrounds/map_mark.svg");
    background-position: 0 0;
    background-size: contain;
    background-repeat: no-repeat;
  }

  @media (min-width: @tablet-width) {
    margin-bottom: 62px;
    padding-left: 94px;
    .fontsize(28px);

    &::before {
      top: -20px;
      width: 68px;
      height: 68px;
    }
  }

  @media (min-width: @desktop-width) {
    top: 1px;
    margin-bottom: 0;
    padding-top: 0;
    padding-left: 270px;

    &::before {
      top: -32px;
      left: 149px;
      width: 90px;
      height: 90px;
    }
  }
}

.address__button {
  @media (min-width: @desktop-width) {
    width: 325px;
    padding-right: 62px;
  }
}

.address__map-container {
  position: relative;
  z-index: @z-index-address-map-container;
  width: 100%;
  height: 328px;
  margin-top: -25px;
  overflow-x: hidden;

  @media (min-width: @tablet-width) {
    height: 581px;
    margin-top: -47px;
  }

  @media (min-width: @desktop-width) {
    height: 584px;
    margin-top: -122px;
  }
}

.address__map-container iframe {
  position: relative;
  left: 50%;
  display: block;
  width: 100%;
  height: 100%;
  border: 0;
  transform: translateX(-50%);
}
