.calendar__month {
  display: grid;
  grid-template-columns: 35px 1fr 35px;
  margin-bottom: 15px;
  border: 1px solid @special-grey-border-other;
  border-left: 0;
  border-right: 0;

  @media (min-width: @tablet-width) {
    margin-bottom: 29px;
  }

  @media (min-width: @desktop-width) {
    margin: 0;
  }
}

.calendar__month-name {
  padding: 12px 10px 10px;
  font-weight: 700;
  .fontsize(20px);
  color: @basic-blue-light;
  text-align: center;

  @media (min-width: @tablet-width) {
    padding: 27px 0 22px;
    .fontsize(36px);
  }

  @media (min-width: @desktop-width) {
    padding: 28px 0 21px;
  }
}

.calendar__arrow {
  position: relative;
  margin: 0;
  background-color: transparent;
  border: 0;
  cursor: pointer;

  &::before,
  &::after {
    content: "";
    position: absolute;
    display: block;
    width: 13px;
    height: 2px;
    background-color: @ui-arrows;
    border-radius: 1px;
  }

  &::before {
    top: 24px;
    left: -2px;
    transform: rotate(49deg);
  }

  &::after {
    top: 15px;
    left: -2px;
    transform: rotate(-49deg);
  }

  &:hover::before,
  &:hover::after,
  &:focus::before,
  &:focus::after {
    background-color: @ui-arrows-hover;
  }

  &:active::before,
  &:active::after {
    background-color: @ui-down;
  }

  @media (min-width: @tablet-width) {
    &::before,
    &::after {
      width: 25px;
      height: 4px;
      border-radius: 20px;
    }

    &::before {
      top: 49px;
      left: 15px;
      transform: rotate(46deg);
    }

    &::after {
      top: 33px;
      left: 15px;
      transform: rotate(-46deg);
    }
  }

  @media (min-width: @desktop-width) {
    &::before,
    &::after {
      width: 20px;
      height: 3px;
      border-radius: 20px;
    }

    &::before {
      top: 50px;
      left: -1px;
    }

    &::after {
      top: 37px;
      left: -1px;
    }
  }

  &--right {
    &::before {
      right: -2px;
      left: unset;
      transform: rotate(133deg);
    }

    &::after {
      right: -2px;
      left: unset;
      transform: rotate(-133deg);
    }

    @media (min-width: @tablet-width) {
      &::before {
        right: 14px;
        transform: rotate(134deg);
      }

      &::after {
        right: 14px;
        transform: rotate(-134deg);
      }
    }

    @media (min-width: @desktop-width) {
      &::before,
      &::after {
        right: -3px;
      }
    }
  }
}

.calendar__weekdays {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  align-items: center;
  min-height: 32px;
  text-align: center;

  @media (min-width: @tablet-width) {
    min-height: 37px;
  }

  @media (min-width: @desktop-width) {
    text-align: left;
  }
}

.calendar__weekday {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;

  @media (min-width: @tablet-width) {
    .fontsize(18px);
  }

  @media (min-width: @desktop-width) {
    padding: 18px 16px 20px;
  }

  &--weekend {
    color: @special-red-saturated;
  }
}

.calendar__weekday-letter {
  display: none;

  @media (min-width: @tablet-width) {
    display: inline;
  }
}

.calendar__days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  align-items: center;

  @media (min-width: @desktop-width) {
    align-items: stretch;
  }
}

.calendar__day {
  position: relative;
  box-sizing: border-box;
  margin: 0;
  padding: 8px 8px 5px;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: @basic-blue-light;
  background-color: @basic-steelblue;
  cursor: pointer;

  &:hover,
  &:focus {
    color: @white;
    background-color: @basic-blue-light;
  }

  &::before {
    content: "";
    position: absolute;
    top: -1px;
    left: -1px;
    display: block;
    box-sizing: border-box;
    width: ~"calc(100% + 1px)";
    height: ~"calc(100% + 1px)";
    border: 1px solid @special-grey-border;
  }

  &:hover::before,
  &:focus::before {
    z-index: @z-index-pseudo-hover;
    border-width: 2px;
    border-color: @special-red-saturated;
  }

  @media (min-width: @tablet-width) {
    min-height: 69px;
    padding: 25px 29px 26px;
    .fontsize(18px);

    &:hover::before,
    &:focus::before {
      border-width: 4px;
    }
  }

  @media (min-width: @desktop-width) {
    min-height: 71px;
    padding: 13px 15px 11px;
    text-align: left;
    letter-spacing: 0.04em;
    color: @special-grey;
  }

  &--grey {
    font-weight: 400;
    color: fade(@special-grey, 30%);
    background-color: @white;
    cursor: default;

    &:hover,
    &:focus {
      color: fade(@special-grey, 30%);
      background-color: @white;
    }

    &:hover::before,
    &:focus::before {
      border-width: 1px;
      border-color: @special-grey-border;
    }
  }

  &--picked {
    color: @white;
    background-color: @basic-blue-light;
  }
}

.calendar__first-day {
  display: none;

  @media (min-width: @desktop-width) {
    display: inline;
  }
}

.calendar__text {
  display: none;
  margin-top: 8px;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;

  @media (min-width: @desktop-width) {
    display: block;
  }
}
