.catalog__list {
  margin: 0;
  margin-bottom: 21px;
  padding: 0;
  list-style: none;

  @media (min-width: @tablet-width) {
    margin-bottom: 51px;
  }

  @media (min-width: @desktop-width) {
    grid-area: catalog;
    margin-bottom: 65px;
  }
}

.catalog__item:not(:last-child) {
  margin-bottom: 10px;

  @media (min-width: @tablet-width) {
    margin-bottom: 40px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 30px;
  }
}

.catalog__more-link {
  position: relative;
  display: block;
  width: 150px;
  margin: 0 auto 18px;
  padding-left: 30px;
  font-weight: 700;
  font-size: 17px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
  color: @basic-blue-light;

  &::before,
  &::after {
    content: "";
    position: absolute;
    display: block;
    background-color: @basic-blue-light;
    border-radius: 2px;
  }

  &::before {
    top: 12px;
    left: 15px;
    width: 18px;
    height: 2px;
  }

  &::after {
    top: 4px;
    left: 23px;
    width: 2px;
    height: 18px;
  }

  &:hover::before,
  &:hover::after,
  &:focus::before,
  &:focus::after {
    background-color: @ui-more-plus-hover;
  }

  &:active::before,
  &:active::after {
    background-color: @ui-more-plus-down;
  }

  @media (min-width: @tablet-width) {
    .fontsize(20px);
    margin-bottom: 52px;
    padding-left: 44px;

    &::before {
      top: 7px;
      left: 1px;
      width: 26px;
    }

    &::after {
      top: -5px;
      left: 13px;
      height: 26px;
    }
  }

  @media (min-width: @desktop-width) {
    margin: 0 auto 72px 344px;

    &::before {
      top: 8px;
      left: 2px;
    }

    &::after {
      top: -4px;
      left: 14px;
    }
  }
}
