.companion-card {
  color: @special-grey;
  background-color: @white;
}

.companion-card__name {
  font-weight: 700;
  .fontsize(21px);
  text-align: center;
}

.companion-card__link {
  color: @basic-blue-light;

  .interactions(@basic-blue-light);
}

.companion-card__tags {
  line-height: 18px;

  &--centered {
    text-align: center;
  }
}
