.companions {
  background-image: url("../../img/backgrounds/companions-mobile.png");
  background-repeat: no-repeat;
  background-color: @basic-blue-other;
}

.companions__title {
  margin-bottom: 19px;
}

.companions__text {
  margin: 0 0 25px;

  &--bold {
    margin-bottom: 54px;
    font-weight: 700;
  }
}

.companions__list {
  margin: 0 0 20px;
  padding: 0;
  list-style: none;
}

.companions__item {
  margin-bottom: 9px;
}
