.companions {
  background-image: url("../../img/backgrounds/companions-mobile.png");
  background-repeat: no-repeat;
  background-color: @basic-blue-other;
}

.companions__text {
  &--bold {
    font-weight: 700;
  }
}
