.contacts {
  width: 100%;
  margin-top: 0;
  padding: 0;
  list-style: none;

  @media (min-width: @desktop-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1440px;
    margin-right: auto;
    margin-left: auto;
  }
}

.contacts__item:not(:last-child) {
  @media (min-width: @desktop-width) {
    margin-right: 110px;
  }
}

.contacts__link {
  display: flex;
  align-items: center;
  color: @basic-blue-other;

  &:hover,
  &:focus {
    color: @special-yellow-dark;
  }

  &:active {
    color: fade(@basic-yellow, 30%);
  }

  &--yellow {
    color: @basic-yellow;
  }
}

.contacts__icon {
  margin-right: 16px;
  fill: @basic-yellow;

  @media (min-width: @tablet-width) {
    width: 68px;
    height: 68px;
    margin-right: 22px;
  }

  @media (min-width: @desktop-width) {
    width: 90px;
    height: 90px;
    margin-right: 31px;
  }
}

.contacts__link:hover .contacts__icon,
.contacts__link:focus .contacts__icon {
  fill: @special-yellow-dark;
}

.contacts__link:active .contacts__icon {
  fill: fade(@special-yellow-dark, 30%);
}

.contacts__text {
  padding-top: 7px;
  font-weight: 700;
  line-height: 18px;
  text-transform: uppercase;
}
