.copyright {
  margin: 0;
  padding-top: 12px;
  border-top: 1px solid @special-grey-lightest;

  @media (min-width: @tablet-width) {
    padding-top: 0;
    border: 0;
  }
}

.copyright__link {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  color: @special-grey;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: @tablet-width) {
    min-width: 155px;
  }
}

.copyright__text {
  font-weight: 400;

  @media (min-width: @tablet-width) {
    .fontsize(20px);
  }
}
