.country-card__name {
  font-weight: 700;
  .fontsize(21px);
  color: @black;
}

.country-card__slogan {
  font-weight: 500;
  line-height: 18px;
  color: fade(@special-grey, 30%);
}

.country-card__counter {
  font-weight: 500;
  line-height: 20px;
  color: fade(@basic-blue, 30%);
}
