.country-card--thailand .country-card__image {
  background-color: @color-thailand;
}

.country-card--thailand .country-card__flag {
  background-color: @color-thailand-flag;
}

.country-card--france .country-card__image {
  background-color: @color-france;
}

.country-card--france .country-card__flag {
  background-color: @color-france-flag;
}

.country-card--czech .country-card__image {
  background-color: @color-czech;
}

.country-card--czech .country-card__flag {
  background-color: @color-czech-flag;
}

.country-card__name {
  font-weight: 700;
  .fontsize(21px);
  color: @black;
}

.country-card__slogan {
  font-weight: 500;
  line-height: 18px;
  color: fade(@special-grey, 30%);
}

.country-card__counter {
  font-weight: 500;
  line-height: 20px;
  color: fade(@basic-blue, 30%);
}
