.countries {
  position: relative;

  @media (min-width: @tablet-width) {
    background-image: url("../../img/backgrounds/tablet_flags-back.png");
    background-position: 92% 80px;
    background-repeat: no-repeat;
  }
}

.countries__wrapper {
  @media (min-width: @tablet-width) {
    padding: 73px 75px 81px 73px;
  }

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-areas: "right left-top"
      "right left-middle"
      "right left-bottom";
    grid-template-columns: 1fr 1fr;
    grid-gap: 60px;
    grid-row-gap: 0;
    padding: 161px 60px 138px;
  }
}

.countries__title {
  margin: 0 0 19px;
  padding-left: 25px;

  @media (min-width: @tablet-width) {
    margin-bottom: 57px;
    padding-right: 310px;
    padding-left: 0;
  }

  @media (min-width: @desktop-width) {
    grid-area: left-top;
    margin-bottom: 58px;
    padding-top: 6px;
  }
}

.countries__text {
  margin: 0 0 60px;
  padding-right: 45px;
  padding-left: 25px;

  @media (min-width: @tablet-width) {
    margin-bottom: 104px;
    padding-right: 279px;
    padding-left: 0;
    font-size: 28px;
    line-height: 33px;
  }

  @media (min-width: @desktop-width) {
    grid-area: left-middle;
    margin-bottom: 98px;
  }
}

.countries__list {
  position: relative;
  margin: 0 0 25px;
  padding: 0;
  list-style: none;

  @media (min-width: @tablet-width) {
    margin-bottom: 46px;

    &::before {
      content: "";
      position: absolute;
      top: -38px;
      left: -33px;
      display: block;
      width: 141px;
      height: 141px;
      background-color: @special-bluegrey;
      border-radius: 20px;
    }
  }

  @media (min-width: @desktop-width) {
    grid-area: right;
    margin-bottom: 0;
  }
}

.countries__item {
  margin-bottom: 9px;

  @media (min-width: @tablet-width) {
    margin-bottom: 11px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 10px;
  }
}

.countries__button {
  @media (min-width: @desktop-width) {
    grid-area: left-bottom;
    align-self: end;
  }
}
