.features {
  font-weight: 700;
  .fontsize(18px);
  color: @basic-blue;
}

.features__item {
  padding: 22px 96px 24px 24px;

  &:first-child {
    background-color: @special-orange;
  }

  &:nth-child(2) {
    background-color: @special-orange-light;
  }

  &:nth-child(3) {
    background-color: @special-yellow-dark;
  }

  &:last-child {
    background-color: @basic-yellow;
  }
}
