.filter-catalog {
  margin-bottom: 28px;
  padding: 26px 20px 22px;
  background-color: @basic-yellow;
  border-radius: 20px;

  @media (min-width: @tablet-width) {
    margin-bottom: 41px;
    padding: 37px 36px 37px 34px;
  }

  @media (min-width: @desktop-width) {
    grid-area: filter;
    padding: 46px 43px 48px 49px;
  }
}

.filter-catalog__title {
  margin: 0 0 23px 5px;
  .fontsize(22px);
  letter-spacing: 0.02em;
  color: @basic-blue-light;

  @media (min-width: @tablet-width) {
    margin-bottom: 38px;
    margin-left: 0;
    padding-bottom: 37px;
    .fontsize(30px);
    letter-spacing: 0;
    border-bottom: 1px solid @special-yellow-faded;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 35px;
    padding: 0;
    border: 0;
  }
}

// Fieldsets container
.filter-catalog__fieldsets {
  box-sizing: border-box;
  padding: 0 4px;

  @media (min-width: @tablet-width) {
    padding: 0;
  }
}

// Fieldset
.filter-catalog__fieldset {
  margin-bottom: 10px;

  &:last-of-type {
    margin-bottom: 37px;
  }

  @media (min-width: @tablet-width) and (max-width: @tablet-width-only) {
    margin-bottom: 29px;
    padding-left: 131px;

    &:last-of-type {
      position: relative;
      top: -12px;
      margin-bottom: 26px;
      border-bottom: 1px solid @special-yellow-faded;
    }
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 21px;

    &:last-of-type {
      margin-bottom: 61px;
    }
  }
}

// Legend
.filter-catalog__legend {
  position: relative;
  display: block;
  width: 100%;
  padding: 11px 0 0;
  font-weight: 700;
  line-height: 18px;
  text-transform: uppercase;
  color: @basic-blue-light;
  border-top: 1px solid @special-yellow-faded;
  cursor: pointer;

  @media (min-width: @tablet-width) {
    left: -131px;
    box-sizing: border-box;
    width: 127px;
    margin-bottom: 0;
    padding: 0;
    padding-right: 10px;
    font-weight: 500;
    .fontsize(20px);
    border: 0;
    cursor: default;
  }

  @media (min-width: @desktop-width) {
    position: static;
    padding: 0;
    cursor: pointer;
  }

  &--transport {
    @media (min-width: @tablet-width) {
      top: 6px;
    }
  }
}

.filter-catalog__legend-text {
  position: relative;
  display: block;
  margin-left: 2px;
  .interactions-opacity();

  &::after {
    content: "";
    position: absolute;
    top: 6px;
    right: 1px;
    display: block;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 6px solid @special-blue-dark;
  }

  @media (min-width: @tablet-width) and (max-width: @tablet-width-only) {
    margin-left: 0;

    &:hover,
    &:focus,
    &:active {
      opacity: 1;
    }

    &::after {
      display: none;
    }
  }

  @media (min-width: @desktop-width) {
    margin-left: 0;

    &::after {
      right: -65px;
    }
  }
}

.filter-catalog__fieldset--open .filter-catalog__legend-text,
.filter-catalog--no-js .filter-catalog__legend-text {
  &::after {
    top: 5px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 6px solid @special-blue-dark;
    border-top: 0;
  }
}

.filter-catalog__legend-colon {
  display: none;

  @media (min-width: @tablet-width) and (max-width: @tablet-width-only) {
    display: inline;
  }
}

// Filter options containers
.filter-catalog__options {
  position: relative;
  top: 12px;
  display: none;
  margin: 0;
  padding: 0;
  list-style: none;

  &:last-of-type {
    margin-bottom: 19px;
  }

  @media (min-width: @tablet-width) and (max-width: @tablet-width-only) {
    top: -22px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 19px;
    align-items: center;

    &:last-of-type {
      margin-bottom: -22px;
    }
  }

  @media (min-width: @desktop-width) {
    margin-top: 14px;

    &:last-of-type {
      margin-bottom: 22px;
    }
  }
}

.filter-catalog__fieldset--open .filter-catalog__options,
.filter-catalog--no-js .filter-catalog__options {
  display: grid;
}

.filter-catalog__option {
  margin-bottom: 8px;

  &:last-of-type {
    margin-bottom: 0;
  }

  @media (min-width: @tablet-width) {
    margin-bottom: 0;

    &:last-of-type {
      position: relative;
      left: 4px;
      margin-bottom: 0;
    }
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 16px;

    &:last-of-type {
      position: static;
    }
  }
}

// Checkboxes
.filter-catalog__checkbox {
  margin-right: 10px;
  opacity: 0;

  @media (min-width: @tablet-width) {
    margin-right: 13px;
  }

  @media (min-width: @desktop-width) {
    margin-right: 18px;
  }
}

.filter-catalog__transport-label {
  position: relative;
  left: -25px;
  margin-right: -25px;

  @media (min-width: @tablet-width) {
    left: -26px;
    margin-right: -26px;
  }
}

.filter-catalog__label {
  position: relative;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  color: @black;
  .interactions-opacity();

  &::before {
    content: "";
    position: absolute;
    top: -4px;
    left: -27px;
    display: block;
    width: 18px;
    height: 18px;
    background-color: @white;
    border-radius: 4px;
  }

  @media (min-width: @tablet-width) {
    .fontsize(20px);

    &::before {
      left: -36px;
      width: 24px;
      height: 24px;
    }
  }

  @media (min-width: @desktop-width) {
    &::before {
      left: -37px;
    }
  }
}

.filter-catalog__checkbox:focus + .filter-catalog__label {
  outline: -webkit-focus-ring-color auto 1px;
}

// Transport filter
.filter-catalog__transport-list {
  position: relative;
  top: 16px;
  left: 9px;
  display: none;
  justify-content: flex-start;
  margin: 0;
  margin-bottom: 26px;

  @media (min-width: @tablet-width) and (max-width: @tablet-width-only) {
    top: -30px;
    left: -2px;
    margin-bottom: -18px;
  }

  @media (min-width: @desktop-width) {
    top: 15px;
    left: 7px;
    margin-top: 3px;
    margin-bottom: 30px;
  }
}

.filter-catalog__fieldset--open .filter-catalog__transport-list {
  display: flex;
}

.filter-catalog__transport-item {
  margin-right: 9px;

  &:last-of-type {
    margin-right: 0;
  }
}

// Level filter
.filter-catalog__level-filter {
  position: relative;
  top: 12px;
  display: none;

  @media (min-width: @tablet-width) and (max-width: @tablet-width-only) {
    position: relative;
    top: -34px;
    display: grid;
    grid-template-areas: "range numbers";
    grid-template-columns: 1fr 150px;
    grid-gap: 61px;
    align-items: center;
    margin-top: 0;
  }

  @media (min-width: @desktop-width) {
    top: 18px;
  }
}

.filter-catalog__fieldset--open .filter-catalog__level-filter {
  display: block;

  @media (min-width: @tablet-width) and (max-width: @tablet-width-only) {
    display: grid;
  }
}

.filter-catalog__number-inputs {
  position: relative;
  display: grid;
  grid-template-columns: 110px 110px;
  width: 220px;
  margin: 0 auto 24px;

  &::before {
    content: "";
    position: absolute;
    top: 12px;
    left: 102px;
    z-index: @z-index-number-input-decor;
    display: block;
    width: 16px;
    height: 11px;
    background-color: @white;
  }

  &::after {
    content: "";
    position: absolute;
    top: 16px;
    left: 102px;
    z-index: @z-index-number-input-decor;
    display: block;
    width: 16px;
    height: 1px;
    background-color: @special-grey-border;
  }

  @media (min-width: @tablet-width) and (max-width: @tablet-width-only) {
    grid-area: numbers;
    grid-template-columns: 74px 74px;
    justify-self: end;
    width: 148px;
    margin-bottom: 0;

    &::before {
      top: 14px;
      left: 63px;
      width: 21px;
      height: 15px;
    }

    &::after {
      top: 21px;
      left: 65px;
      width: 21px;
    }
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: 95px 97px;
    width: 192px;
    margin-bottom: 37px;

    &::before {
      top: 16px;
      left: 85px;
      width: 20px;
    }

    &::after {
      top: 22px;
      left: 85px;
      width: 20px;
    }
  }
}

.filter-catalog__number-input {
  margin: 0;
  padding: 11px 15px 7px;
  font-family: "Blogger Sans", "Tahoma", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 13px;
  text-align: center;
  color: @basic-blue-light;
  border: 1px solid @special-grey-border;

  &:hover,
  &:focus {
    border-color: @special-border-blue-fade;
  }

  &:active {
    border-color: @basic-blue;
  }

  @media (min-width: @tablet-width) {
    padding: 13px 15px 9px;
    .fontsize(20px);
    -moz-appearance: textfield;
  }

  &--left {
    padding-left: 32px;
    border-radius: 4px 0 0 4px;

    @media (min-width: @tablet-width) {
      padding-left: 17px;
    }
  }

  &--right {
    position: relative;
    left: -1px;
    padding-left: 30px;
    border-radius: 0 4px 4px 0;

    @media (min-width: @tablet-width) {
      padding-left: 15px;
    }
  }
}

.filter-catalog__number-input--left:hover ~ .filter-catalog__number-input--right,
.filter-catalog__number-input--left:focus ~ .filter-catalog__number-input--right {
  border-left-color: @special-border-blue-fade;
}

.filter-catalog__number-input--left:active ~ .filter-catalog__number-input--right {
  border-left-color: @basic-blue;
}

.filter-catalog__number-input::-webkit-inner-spin-button,
.filter-catalog__number-input::-webkit-outer-spin-button {
  @media (min-width: @tablet-width) {
    appearance: none;
    margin: 0;
  }
}

.filter-catalog__level-range {
  width: 95%;

  @media (min-width: @tablet-width) and (max-width: @tablet-width-only) {
    grid-area: range;
    width: 96%;
  }

  @media (min-width: @desktop-width) {
    width: 93%;
  }
}

.filter-catalog__button {
  width: 100%;
  min-width: 229px;

  @media (min-width: @tablet-width) {
    .fontsize(20px);
  }

  @media (min-width: @desktop-width) {
    width: 193px;
    min-width: unset;
  }
}
