.flags-list__flag {
  &--belgium {
    background-color: @color-belgium-flag;
  }

  &--czech {
    background-color: @color-czech-flag;
  }

  &--seychelles {
    background-color: @color-seychelles-flag;
  }

  &--sri-lanka {
    background-color: @color-sri-lanka-flag;
  }

  &--thailand {
    background-color: @color-thailand-flag;
  }
}
