.form__fieldset {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  margin-bottom: 17px;
  padding: 27px 25px;
  border: 1px solid @special-grey-border;
  border-radius: 10px;

  &:last-of-type {
    margin-bottom: 0;
  }

  &--no-border {
    padding: 0;
    border: 0;
  }
}

.form__legend {
  padding: 0 17px;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: @basic-blue-light;

  @media (min-width: @tablet-width) {
    font-weight: 500;
    .fontsize(20px);
  }
}

.form__list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;

  &--row {
    flex-direction: row;
    justify-content: center;
  }
}

.form__item {
  &--button {
    line-height: 0;
  }

  &--checkbox {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      filter: drop-shadow(0 2px 6px @special-shadow-light);
    }

    &:focus-within {
      filter: drop-shadow(0 2px 6px @special-shadow-light);
      outline: -webkit-focus-ring-color auto 1px;
    }

    &:active {
      background-color: @special-bluegrey;
      filter: none;
    }
  }
}

.form__label {
  display: inline-block;
  margin-bottom: 8px;
  padding-right: 45px;
  font-weight: 500;
  .fontsize(16px);
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: @basic-blue-light;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 18px;
    letter-spacing: 0.1em;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 0;
    padding-right: 57px;
    letter-spacing: unset;
  }

  &--container {
    display: block;
    margin: 0;
    padding: 0;
  }

  &--small {
    font-weight: 400;
    .fontsize(15px);
    letter-spacing: unset;
    text-transform: none;

    @media (min-width: @tablet-width) {
      font-weight: 500;
      .fontsize(20px);
      letter-spacing: 0.1em;
      text-transform: uppercase;
    }

    @media (min-width: @desktop-width) {
      padding-right: 0;
    }
  }

  &--button {
    margin: 0;
    padding: 0;
    .circle(31px);
    background-color: @white;

    @media (min-width: @tablet-width) {
      .circle(43px);
    }
  }

  &--checkbox {
    display: block;
    width: 31px;
    height: 31px;
    margin: 0;
    padding: 0;

    @media (min-width: @tablet-width) {
      width: 43px;
      height: 43px;
    }
  }

  &--number-input {
    grid-area: label;
    margin-bottom: 0;
    padding-right: 25px;

    @media (min-width: @desktop-width) {
      padding-right: 20px;
    }
  }
}

.form__number-input-container {
  display: grid;
  grid-template-areas: "label units"
    "number number";
  grid-template-columns: 1fr min-content;
  grid-template-rows: min-content;
  grid-row-gap: 8px;
  padding: 0;

  @media (min-width: @tablet-width) {
    grid-row-gap: 24px;
    margin-bottom: 40px;
  }

  @media (min-width: @desktop-width) {
    grid-template-areas: "label number units";
    grid-template-columns: 221px 180px min-content;
    grid-row-gap: 0;
    align-items: center;
    margin-bottom: 0;
  }

  &--days {
    position: relative;
    top: -16px;
    margin-bottom: 53px;

    @media (min-width: @tablet-width) {
      position: static;
      margin-bottom: 80px;
    }

    @media (min-width: @desktop-width) {
      margin-bottom: 32px;
    }
  }
}

.form__checkbox-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  fill: @special-grey-icons;
  pointer-events: none;

  @media (min-width: @tablet-width) {
    width: 23px;
    height: 25px;
  }
}

.form__checkbox:checked + .form__checkbox-icon {
  fill: @basic-blue-light;
}

.form__item--checkbox:hover .form__checkbox-icon,
.form__item--checkbox:focus-within .form__checkbox-icon {
  fill: @special-grey-icons-hover;
}

.form__item--checkbox:active .form__checkbox-icon {
  fill: @basic-blue-light;
  opacity: 0.1;
}

.form__item--checkbox:hover .form__checkbox:checked + .form__checkbox-icon,
.form__item--checkbox:focus-within .form__checkbox:checked + .form__checkbox-icon {
  fill: @basic-blue-light;
  opacity: 0.7;
}

.form__item--checkbox:active .form__checkbox:checked + .form__checkbox-icon {
  opacity: 0.3;
}

.form__textarea {
  box-sizing: border-box;
  width: 100%;
  font-family: "Blogger Sans", "Tahoma", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: fade(@special-grey, 60%);
  background-color: transparent;
  border: none;
  resize: none;

  &:focus {
    color: @special-grey;
  }

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 22px;
  }

  &--tags {
    padding: 17px 24px 22px;

    @media (min-width: @tablet-width) {
      padding: 34px 39px 11px;
    }
  }
}

.form__input {
  margin: 0;

  &--number {
    grid-area: number;

    @media (min-width: @tablet-width) {
      .move-up(-21px);
    }

    @media (min-width: @desktop-width) {
      .move-up(0);
      margin-right: auto;
    }
  }
}

.form__units {
  grid-area: units;
  justify-self: end;
  font-weight: 500;
  .fontsize(16px);
  letter-spacing: 0.07em;
  text-transform: uppercase;
  color: fade(@basic-blue-light, 30%);

  @media (min-width: @tablet-width) {
    justify-self: start;
    font-size: 20px;
    line-height: 18px;
  }

  @media (min-width: @desktop-width) {
    align-self: center;
    margin-left: 36px;
    letter-spacing: unset;
    color: @basic-blue-light;
  }

  &--people {
    @media (min-width: @tablet-width) {
      position: relative;
      right: 5px;
    }

    @media (min-width: @desktop-width) {
      position: static;
    }
  }

  &--days {
    @media (min-width: @tablet-width) and (max-width: @tablet-width-only) {
      position: relative;
      right: -3px;
      justify-self: end;
    }
  }
}

.form__checkbox {
  position: absolute;
  top: 5px;
  left: 5px;
  z-index: @z-index-checkbox;
  width: 1px;
  height: 1px;
  opacity: 0;
}

.form__checkbox-kids {
  position: relative;
  top: 114px;
  z-index: @z-index-checkbox-kids;

  @media (min-width: @tablet-width) {
    top: 0;
    padding-top: 14px;

    &:last-of-type {
      margin-bottom: 21px;
    }
  }

  @media (min-width: @desktop-width) {
    top: 10px;
    right: -4px;
    display: flex;
    align-items: center;
    padding-top: 0;
    letter-spacing: 0.1em;
  }
}

.form__checkbox-kids .form__checkbox {
  position: absolute;
  top: 6px;
  left: 6px;
  width: 5px;
  height: 5px;
  outline: none;

  @media (min-width: @tablet-width) {
    top: 10px;
    left: 10px;
  }
}

.form__checkbox-kids .form__label {
  position: relative;
  display: block;
  box-sizing: border-box;
  width: 100%;
  padding-left: 39px;
  padding-right: unset;

  &::before {
    content: "";
    position: absolute;
    top: -8px;
    left: 0;
    display: block;
    box-sizing: border-box;
    width: 26px;
    height: 26px;
    background-color: @white;
    border: 1px solid @special-grey-border;
    border-radius: 4px;
  }

  &::after {
    content: "";
    position: absolute;
    top: -1px;
    left: 6px;
    display: none;
    width: 13px;
    height: 12px;
    background-image: url("../../img/icons/icon_check-mark.svg");
    background-repeat: no-repeat;
  }

  @media (min-width: @tablet-width) {
    padding-left: 58px;

    &::before {
      top: -9px;
      left: 0;
      width: 36px;
      height: 36px;
    }

    &::after {
      top: 1px;
      left: 9px;
      width: 18px;
      height: 17px;
    }
  }

  @media (min-width: @desktop-width) {
    &::before {
      top: -9px;
      left: -1px;
    }

    &::after {
      left: 8px;
    }
  }
}

.form__checkbox:focus + .form__label {
  outline: -webkit-focus-ring-color auto 1px;
}

.form__checkbox-kids:hover .form__label::before,
.form__checkbox-kids:focus-within .form__label::before {
  border-color: @special-border-blue-fade;
}

.form__checkbox:active + .form__label::before {
  background-color: @special-bluegrey;
  border-color: @special-bluegrey;
}

.form__label:active::before {
  background-color: @special-bluegrey;
  border-color: @special-bluegrey;
}

.form__checkbox:checked + .form__label::after {
  display: block;
}

.form__input-days .form__label {
  @media (min-width: @desktop-width) {
    padding-right: 78px;
  }
}

.form__calendar {
  @media (min-width: @desktop-width) {
    width: 100%;
  }
}

.form__buttons {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;

  @media (min-width: @tablet-width) {
    flex-direction: row;
  }
}

.form__button {
  font-size: 17px;
  line-height: 20px;

  @media (max-width: @mobile-width-only) {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 13px;

    &::after {
      display: none;
    }
  }

  @media (min-width: @tablet-width) {
    .fontsize(24px);
  }
}

.form__back-link {
  display: block;
  width: 100%;
  font-weight: 700;
  font-size: 17px;
  line-height: 30px;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  text-align: center;
  color: @basic-blue-light;

  @media (min-width: @tablet-width) {
    position: relative;
    top: 2px;
    right: -4px;
    width: unset;
    padding-left: 50px;
    font-size: 24px;
    line-height: 22px;
    text-transform: none;

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 16px;
      display: block;
      width: 0;
      height: 0;
      border-top: 7px solid transparent;
      border-bottom: 7px solid transparent;
      border-right: 12px solid @special-blue-dark;
      transform: translateY(-73%);
    }
  }

  @media (min-width: @desktop-width) {
    margin-right: 3px;
  }
}
