/* Menu -- JS */
.menu {
  position: absolute;
  top: 0;
  left: 0;
  z-index: @z-index-menu;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  box-sizing: border-box;
  width: 100%;
  padding: 0 25px;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
  }

  @media (min-width: @desktop-width) {
    position: relative;
    display: grid;
    grid-template-columns: 1fr min-content;
    padding: 0;
    padding-left: 15px;
    background-color: transparent;
  }

  &--show {
    position: fixed;
    padding: 83px 25px 29px;
    background-color: @white;

    @media (min-width: @tablet-width) {
      padding-top: 135px;
      padding-bottom: 82px;
    }

    @media (min-width: @desktop-width) {
      padding-top: 0;
      padding-bottom: 0;
      background-color: transparent;
    }
  }
}

.menu__toggle {
  position: relative;
  top: 12px;
  right: -4px;
  z-index: @z-index-menu-toggle;
  align-self: flex-end;
  width: 35px;
  height: 35px;
  background-color: transparent;
  border: 0;
  cursor: pointer;

  &::before,
  &::after {
    content: "";
    position: absolute;
    left: 4px;
    display: block;
    width: 25px;
    height: 3px;
    background-color: @white;
    border-radius: 1px;
  }

  &::before {
    top: 11px;
  }

  &::after {
    top: 19px;
  }

  @media (min-width: @tablet-width) {
    top: 50px;
    right: -13%;
    align-self: flex-start;
    margin: 0 auto;
    order: 1;
  }

  @media (min-width: @desktop-width) {
    display: none;
  }
}

.menu--show .menu__toggle {
  position: relative;
  top: -65px;
  right: -6px;

  &::before {
    top: 16px;
    left: 5px;
    height: 2px;
    background-color: @special-grey-ui;
    transform: rotate(45deg);
  }

  &::after {
    top: 16px;
    left: 5px;
    height: 2px;
    background-color: @special-grey-ui;
    transform: rotate(-45deg);
  }

  @media (min-width: @tablet-width) {
    top: -85px;
    right: -13%;
  }
}

.menu__navigation {
  display: none;
  margin-bottom: 51px;

  @media (min-width: @tablet-width) {
    order: 3;
    margin-bottom: 128px;
  }

  @media (min-width: @desktop-width) {
    display: block;
    order: unset;
    margin-bottom: 0;
    padding-right: 25px;
    padding-left: 25px;
  }
}

.menu--show .menu__navigation {
  display: block;
}

.menu__login {
  display: none;
  margin-bottom: 51px;

  @media (min-width: @desktop-width) {
    display: none;
  }
}

.menu--show .menu__login {
  display: block;

  @media (min-width: @tablet-width) {
    display: none;
  }
}

.menu__contacts {
  display: none;
  margin-bottom: 29px;

  @media (min-width: @tablet-width) {
    order: 3;
    margin-bottom: 121px;
    padding: 0 72px;
    .fontsize(28px);
  }

  @media (min-width: @desktop-width) {
    display: none;
  }
}

.menu--show .menu__contacts {
  display: block;

  @media (min-width: @desktop-width) {
    display: none;
  }
}

.menu__socials {
  display: none;

  @media (min-width: @tablet-width) {
    order: 4;
    justify-content: flex-start;
    width: 100%;
    padding: 0 82px;
  }

  @media (min-width: @desktop-width) {
    display: none;
  }
}

.menu--show .menu__socials {
  display: flex;

  @media (min-width: @desktop-width) {
    display: none;
  }
}

.menu__user-buttons {
  position: relative;
  top: 422px;

  @media (min-width: @tablet-width) {
    top: 40px;
    right: 16px;
    order: 2;
  }

  @media (min-width: @desktop-width) {
    position: relative;
    top: 0;
    right: 0;
    display: grid;
  }
}

.menu--show .menu__user-buttons {
  display: none;

  @media (min-width: @tablet-width) {
    display: grid;
    top: -95px;
  }
}

/* Menu -- no JS */
.menu--no-js {
  position: static;
  padding: 76px 0 29px;

  @media (min-width: @tablet-width) {
    padding-top: 106px;
    padding-bottom: 82px;
  }

  @media (min-width: @desktop-width) {
    position: relative;
    .move-up(-11px);
    padding: 0;
    padding-left: 15px;
  }
}

.menu--no-js .menu__toggle {
  display: none;
}

.menu--no-js .menu__navigation {
  display: block;

  @media (min-width: @tablet-width) {
    padding: 0 25px 0 55px;
  }

  @media (min-width: @desktop-width) {
    padding-left: 25px;
  }
}

.menu--no-js .menu__login {
  position: static;
  display: block;

  @media (min-width: @tablet-width) {
    display: none;
  }
}

.menu--no-js .menu__contacts {
  display: block;

  @media (min-width: @tablet-width) {
    padding: 0 56px;
  }

  @media (min-width: @desktop-width) {
    display: none;
  }
}

.menu--no-js .menu__socials {
  display: flex;

  @media (min-width: @tablet-width) {
    padding: 0 66px;
  }

  @media (min-width: @desktop-width) {
    display: none;
  }
}

.menu--no-js .menu__user-buttons {
  position: relative;
  top: 485px;
  z-index: @z-index-menu-nojs-user-buttons;
  margin-bottom: -40px;

  @media (min-width: @tablet-width) {
    top: -135px;
    right: 0;
  }

  @media (min-width: @desktop-width) {
    top: 0;
  }
}

// Inner pages
.menu--inner-page .menu__user-buttons {
  @media (max-width: @mobile-width-only) {
    display: none;
  }
}
