// menu with js
.menu {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 4;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding-top: 99px;
  padding-bottom: 41px;
  background-color: @white;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
    padding-top: 98px;
    padding-bottom: 93px;
  }

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 1fr min-content;
    padding-top: 0;
    padding-bottom: 0;
    background-color: transparent;
  }
}

.menu__toggle {
  position: fixed;
  top: 25px;
  z-index: 3;
  align-self: flex-end;
  width: 19px;
  height: 19px;
  background-image: url('../../img/ui/icon_menu_close.svg');
  background-repeat: no-repeat;
  background-color: transparent;
  border: 0;

  @media (min-width: @tablet-width) {
    top: 55px;
    align-self: flex-start;
    order: 1;
    width: 22px;
    height: 22px;
    margin-left: 50%;
    margin-right: 50%;
  }

  @media (min-width: @desktop-width) {
    display: none;
  }
}

.menu__navigation {
  margin-bottom: 51px;

  @media (min-width: @tablet-width) {
    order: 3;
  }

  @media (min-width: @desktop-width) {
    order: unset;
    margin-bottom: 0;
    padding-left: 242px;
    padding-right: 20px;
  }
}

.menu__login {
  margin-bottom: 51px;

  @media (min-width: @tablet-width) {
    position: fixed;
    top: 40px;
    order: 2;
  }

  @media (min-width: @desktop-width) {
    display: none;
  }
}

.menu__contacts {
  margin-bottom: 41px;

  @media (min-width: @tablet-width) {
    order: 3;
    padding: 0 57px;
    .fontsize(28px);
  }

  @media (min-width: @desktop-width) {
    display: none;
  }
}

.menu__socials {
  @media (min-width: @tablet-width) {
    order: 4;
    justify-content: flex-start;
    padding: 0 57px;
  }

  @media (min-width: @desktop-width) {
    display: none;
  }
}

.menu__user-buttons {
  @media (min-width: @tablet-width) {
    display: none;
  }

  @media (min-width: @desktop-width) {
    display: grid;
  }
}


// menu without js
.menu--no-js {
  position: static;
}

.menu--no-js .menu__toggle {
  display: none;
}

.menu--no-js .menu__login {
  position: absolute;
}
