/* Menu -- JS */
.menu {
  position: absolute;
  top: 0;
  left: 0;
  z-index: @z-index-menu;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  box-sizing: border-box;
  width: 100%;
  padding: 99px 25px 41px;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
    padding-top: 185px;
    padding-bottom: 93px;
  }

  @media (min-width: @desktop-width) {
    position: relative;
    display: grid;
    grid-template-columns: 1fr min-content;
    padding: 0;
    background-color: transparent;
  }

  &--show {
    background-color: @white;

    @media (min-width: @desktop-width) {
      background-color: transparent;
    }
  }
}

.menu__toggle {
  position: fixed;
  top: 25px;
  right: 25px;
  z-index: @z-index-menu-toggle;
  align-self: flex-end;
  width: 19px;
  height: 19px;
  background-image: url("../../img/ui/icon_menu_close.svg");
  background-repeat: no-repeat;
  background-color: transparent;
  border: 0;

  @media (min-width: @tablet-width) {
    top: 55px;
    align-self: flex-start;
    order: 1;
    width: 22px;
    height: 22px;
    margin-left: 50%;
    margin-right: 50%;
  }

  @media (min-width: @desktop-width) {
    display: none;
  }
}

.menu__navigation {
  display: none;
  margin-bottom: 51px;

  @media (min-width: @tablet-width) {
    order: 3;
  }

  @media (min-width: @desktop-width) {
    display: block;
    order: unset;
    margin-bottom: 0;
    padding-left: 242px;
    padding-right: 20px;
  }
}

.menu--show .menu__navigation {
  display: block;
}

.menu__login {
  display: none;
  margin-bottom: 51px;

  @media (min-width: @desktop-width) {
    display: none;
  }
}

.menu--show .menu__login {
  display: block;

  @media (min-width: @tablet-width) {
    display: none;
  }
}

.menu__contacts {
  display: none;
  margin-bottom: 41px;

  @media (min-width: @tablet-width) {
    order: 3;
    padding: 0 57px;
    .fontsize(28px);
  }

  @media (min-width: @desktop-width) {
    display: none;
  }
}

.menu--show .menu__contacts {
  display: block;

  @media (min-width: @desktop-width) {
    display: none;
  }
}

.menu__socials {
  display: none;

  @media (min-width: @tablet-width) {
    order: 4;
    justify-content: flex-start;
    width: 100%;
    padding: 0 57px;
  }

  @media (min-width: @desktop-width) {
    display: none;
  }
}

.menu--show .menu__socials {
  display: flex;

  @media (min-width: @desktop-width) {
    display: none;
  }
}

.menu__user-buttons {
  position: relative;
  top: 355px;

  @media (min-width: @tablet-width) {
    position: fixed;
    top: 40px;
    order: 2;
  }

  @media (min-width: @desktop-width) {
    position: relative;
    top: 0;
    display: grid;
  }
}

.menu--show .menu__user-buttons {
  display: none;

  @media (min-width: @tablet-width) {
    display: grid;
  }
}

/* Menu -- no JS */
.menu--no-js {
  position: static;
  padding: 99px 0 41px;

  @media (min-width: @desktop-width) {
    position: relative;
    .move-up(-53px);
    padding: 0;
  }
}

.menu--no-js .menu__toggle {
  display: none;
}

.menu--no-js .menu__navigation {
  display: block;
}

.menu--no-js .menu__login {
  position: static;
  display: block;

  @media (min-width: @tablet-width) {
    display: none;
  }
}

.menu--no-js .menu__contacts {
  display: block;

  @media (min-width: @desktop-width) {
    display: none;
  }
}

.menu--no-js .menu__socials {
  display: flex;

  @media (min-width: @desktop-width) {
    display: none;
  }
}

.menu--no-js .menu__user-buttons {
  position: relative;
  top: 495px;
  z-index: @z-index-menu-nojs-user-buttons;
  margin-bottom: -40px;

  @media (min-width: @tablet-width) {
    top: -140px;
  }

  @media (min-width: @desktop-width) {
    top: 0;
  }
}

// Inner pages
.menu--inner-page .menu__user-buttons {
  @media (max-width: 767px) {
    display: none;
  }
}
