.navigation {
  font-weight: 500;
  font-size: 30px;
  line-height: 35px;
  text-transform: uppercase;
}

.navigation__item {
  text-align: center;
}

.navigation__link {
  color: @basic-blue-other;

  &:hover {
    color: @basic-yellow;
  }

  &:active {
    color: fade(@basic-yellow, 30%);
  }
}
