.page-main__section {
  padding: 101px 25px 34px;

  &--top {
    color: @white;
    background-color: @basic-blue;
  }

  &--dark {
    color: @white;
    background-color: @basic-blue;
  }

  &--light {
    background-color: @basic-steelblue;
  }

  &--special {
    padding-top: 65px;
    background-color: @basic-yellow;
  }
}

.page-main__title {
  font-weight: 700;
  .fontsize(24px);

  &--orange {
    color: @special-orange;
  }
}
