.plans__wrapper {
  padding: 28px 25px 55px;

  @media (min-width: @tablet-width) {
    padding: 57px 75px 114px;
  }

  @media (min-width: @desktop-width) {
    padding: 54px 60px 131px 124px;
  }
}

.plans .plans__title {
  @media (min-width: @desktop-width) {
    margin-bottom: 49px;
  }
}
