.select-country {
  position: relative;
  .move-up(-22px);
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: @tablet-width) {
    padding-top: 42px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 62px;
  }
}

.select-country__item {
  position: relative;

  &:last-child {
    margin-top: 22px;

    @media (min-width: @tablet-width) {
      display: grid;
      grid-template-columns: minmax(396px, 775px) minmax(117px, 198px) 22px;
      grid-template-rows: 70px;

      &::after {
        content: "";
        position: relative;
        top: 26px;
        left: -7px;
        display: block;
        grid-column-start: 2;
        grid-column-end: 3;
        .circle(14px);
        background-color: @basic-steelblue;
        border: 1px solid @special-grey-border;
      }
    }
  }
}

.select-country__item:not(:last-child) {
  @media (min-width: @tablet-width) {
    margin-bottom: 16px;
  }

  @media (min-width: @desktop-width) {
    width: 997px;
  }
}

.select-country__controls {
  position: relative;
  display: grid;
  grid-template-areas: "empty deselect"
    "name flag";
  grid-template-columns: 1fr 53px;
  grid-template-rows: 22px 42px;

  @media (min-width: @tablet-width) {
    grid-template-columns: minmax(396px, 776px) minmax(117px, 198px) 22px;
    grid-template-rows: 70px;
  }
}

.select-country__pick-button {
  position: relative;
  grid-area: name;
  grid-column-start: 1;
  grid-column-end: -1;
  overflow: hidden;

  &:not(.button--select-clicked) {
    border: 1px solid @special-grey-border;
    border-radius: 4px;
  }

  @media (min-width: @tablet-width) {
    grid-column-end: 2;
    min-width: 369px;
    margin-right: 6%;
  }

  &--picked {
    grid-column-start: 1;
    grid-column-end: 2;
    padding-right: 33px;
    padding-left: 9px;
    letter-spacing: 0.09em;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      display: block;
      width: 55px;
      height: 100%;
      .gradient-white(33%);
    }
  }
}

.select-country__name {
  grid-area: name;
  display: inline-block;
  width: 150%;
  text-align: left;
}

.select-country__flag {
  grid-area: flag;
  border: 1px solid @special-grey-border;
  border-left: 0;
  border-radius: 4px;

  &::before {
    content: "";
    position: absolute;
    bottom: 17px;
    right: 49px;
    display: block;
    .circle(8px);
    border: 1px solid @special-grey-border;
  }

  @media (min-width: @tablet-width) {
    position: relative;
    display: block;
    border: 0;

    &::before {
      .circle(14px);
      left: -7px;
    }
  }
}

.select-country__pick-button--picked + .select-country__flag {
  &::before {
    background-color: @basic-blue-light;
    border: 0;
  }
}

.select-country__controls--active .select-country__flag {
  display: none;
}

.select-country__controls:hover .select-country__pick-button {
  border-color: @special-border-blue-fade;
}

.select-country__controls:hover .select-country__flag {
  border-color: @special-border-blue-fade;
}

.select-country__deselect {
  position: relative;
  top: 12px;
  right: -10px;
  grid-area: deselect;
  justify-self: end;
  .circle(21px);
  background-color: @basic-steelblue;
  border: 0;

  @media (min-width: @tablet-width) {
    position: static;
    place-self: center;
    width: 22px;
    height: 24px;
    background-color: red;
    border-radius: 0;
  }
}

.select-country__controls--active .select-country__deselect {
  @media (max-width: @mobile-width-only) {
    display: none;
  }
}

// Country -- choice popup
.select-country__choice-container {
  position: absolute;
  top: 64px;
  z-index: @z-index-country-choice-container;
  display: none;
  box-sizing: border-box;
  width: 100%;

  @media (min-width: @tablet-width) {
    top: 70px;
    grid-template-areas: "close close"
      "letters countries";
    grid-template-columns: minmax(373px, 489px) minmax(206px, 241px);
    width: unset;
    min-width: 578px;
  }

  &--show {
    display: block;

    @media (min-width: @tablet-width) {
      display: grid;
    }
  }
}

.select-country__first-letters {
  grid-area: letters;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  box-sizing: border-box;
  width: 100%;
  background-color: @white;

  @media (min-width: @tablet-width) {
    padding: 35px 79px 33px 27px;
    border-right: 1px solid @special-grey-border-other;
  }

  @media (min-width: @desktop-width) {
    grid-gap: 16px;
    grid-row-gap: 14px;
    padding: 34px 102px 36px 27px;
  }
}

.select-country__first-letter {
  padding: 12px 12px 10px;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: @basic-blue-light;
  border: 1px solid @special-grey-border;
  border-top: 0;
  cursor: pointer;

  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    min-width: 55px;
    min-height: 70px;
    .fontsize(20px);

    &:nth-child(-n+5) {
      border-top: 1px solid @special-grey-border;
    }
  }

  @media (min-width: @desktop-width) {
    border-top: 1px solid @special-grey-border;
    border-radius: 4px;

    &:hover {
      border-color: @basic-blue-light;
    }
  }

  &--selected {
    background-color: @basic-steelblue;
    cursor: default;

    @media (min-width: @tablet-width) {
      color: @white;
      background-color: @basic-blue-light;
      border-color: @basic-blue-light;
    }
  }
}

.select-country__first-letter:not(:nth-of-type(5n)) {
  border-right: 0;

  @media (min-width: @desktop-width) {
    border-right: 1px solid @special-grey-border;

    &:hover {
      border-right-color: @basic-blue-light;
    }
  }
}

.select-country__first-letters .select-country__first-letter--selected {
  @media (min-width: @tablet-width) {
    border-color: @basic-blue-light;
  }
}

.select-country__list {
  grid-area: countries;
  margin: 0;
  padding: 19px 18px 10px;
  background-color: @white;
  border: 1px solid @special-grey-border;
  border-top: 0;
  border-radius: 0 0 4px 4px;
  list-style: none;

  @media (min-width: @tablet-width) {
    padding: 37px 11px 33px 25px;
    border: 0;
  }

  @media (min-width: @desktop-width) {
    padding: 35px 26px;
  }
}

.select-country__list-item {
  margin-bottom: 4px;

  @media (min-width: @tablet-width) {
    margin-bottom: 10px;
  }
}

.select-country__label {
  font-weight: 400;
  cursor: pointer;

  &:hover {
    color: @basic-blue-light;
  }

  &:active {
    color: fade(@basic-blue-light, 30%);
  }

  @media (min-width: @tablet-width) {
    .fontsize(20px);
  }
}

.select-country__close {
  position: absolute;
  top: -42px;
  right: 0;
  width: 42px;
  height: 42px;

  @media (min-width: @tablet-width) {
    position: static;
    grid-area: close;
    justify-self: end;
    width: 70px;
    height: 70px;
  }
}

// Add country button
.select-country__add-button {
  position: relative;
  width: 100%;
  padding: 13px 65px 11px 12px;
  text-align: left;
  letter-spacing: 0.1em;
  background-color: @basic-steelblue;

  &:hover {
    background-color: @special-blue-light;
  }

  &::before {
    content: "";
    position: absolute;
    bottom: 17px;
    right: 49px;
    display: block;
    .circle(8px);
    border: 1px solid @special-grey-border;
  }

  @media (min-width: @tablet-width) {
    position: relative;
    width: unset;
    min-width: 369px;
    margin-right: 6%;
  }
}
