.socials {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.socials__item:not(:last-child) {
  @media (min-width: @tablet-width) {
    margin-right: 15px;
  }
}

.socials__link {
  display: flex;
  justify-content: center;
  align-items: center;
  .circle(45px);

  &--yellow-bg {
    background-color: @basic-yellow;

    &:hover,
    &:focus {
      background-color: @special-yellow-dark;
    }

    &:active {
      background-color: @special-yellow-dark;
    }

    @media (min-width: @tablet-width) {
      .circle(62px);
    }
  }
}

.socials--menu .socials__icon {
  fill: @basic-blue-other;

  @media (min-width: @tablet-width) {
    &--facebook {
      width: 14px;
      height: 28px;
    }

    &--vk {
      width: 31px;
      height: 16px;
    }

    &--insta {
      width: 24px;
      height: 24px;
    }
  }
}

.socials__link:hover .socials__icon,
.socials__link:focus .socials__icon {
  opacity: 0.6;
}

.socials__link--yellow-bg:hover .socials__icon,
.socials__link--yellow-bg:focus .socials__icon {
  opacity: 1;
}

.socials__link:active .socials__icon {
  opacity: 0.3;
}

// Socials in footer
.socials--footer .socials__item {
  @media (min-width: @tablet-width) {
    &:not(:last-child) {
      margin-right: 0;
    }
  }
}

.socials--footer .socials__icon {
  @media (min-width: @tablet-width) {
    &--facebook {
      height: 28px;
      width: 30px;
    }

    &--vk {
      height: 41px;
      width: 31px;
    }

    &--insta {
      height: 22px;
      width: 22px;
    }
  }
}
