.steps-tracker__item {
  opacity: 0.6;

  &--current {
    opacity: 1;
  }
}

.steps-tracker__link {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  color: @black;
}
