.top-bar {
  box-sizing: border-box;
  width: 100%;
  min-height: 73px;
  padding: 25px 25px 0;
  background-color: @white;

  @media (min-width: @tablet-width) {
    padding: 40px 40px 0;
  }

  @media (min-width: @desktop-width) {
    width: 1440px;
    margin-right: auto;
    margin-left: auto;
    padding: 46px 58px 0;
    background-color: transparent;
  }
}

.top-bar__logo {
  position: fixed;
  top: 27px;
  left: 25px;
  z-index: 5;

  @media (min-width: @tablet-width) {
    top: 45px;
    left: 40px;
  }
}

.top-bar--no-js .top-bar__logo {
  position: relative;
  top: 0;
  left: 0;
}
