.traveler-card {
  display: grid;
  grid-template-areas: "empty avatar gap name name"
    "empty avatar gap likes likes"
    "tags tags tags tags tags"
    "countries countries countries countries countries"
    "transport transport transport transport level"
    "button button button button button";
  grid-template-columns: 18px 70px 17px 89px 74px;
  box-sizing: border-box;
  width: 270px;
  margin: 0 auto;
  padding: 15px 0 23px;
  background-color: @white;
  border-radius: 20px;
  filter: drop-shadow(0 0 0 fade(@black, 16%));
  transition: filter 0.4s ease;

  &:hover,
  &:focus-within {
    filter: drop-shadow(0 4px 9px fade(@black, 16%));
  }

  @media (min-width: @tablet-width) {
    grid-template-areas: "empty avatar gap name name transport"
      "empty avatar gap tags tags transport"
      "emoty avatar gap button likes level"
      "countries countries countries countries countries countries";
    grid-template-columns: 35px 190px 25px 150px 199px 85px;
    grid-template-rows: min-content minmax(85px, 100%) minmax(60px, 100%) min-content;
    width: 688px;
    padding: 35px 0 25px;
  }

  @media (min-width: @desktop-width) {
    grid-template-areas: "avatar empty name name countries countries"
      "avatar empty tags tags countries countries"
      "avatar empty button likes transport level";
    grid-template-columns: 285px 54px 150px 185px 172px 103px;
    grid-template-rows: minmax(97px, min-content) minmax(90px, 100%) min-content;
    width: 949px;
    padding: 0;
  }
}

.traveler-card__name {
  position: relative;
  top: -2px;
  grid-area: name;
  margin: 0;
  padding-right: 35px;
  .interactions-opacity();

  &::after {
    content: "";
    position: absolute;
    top: 10px;
    right: 20px;
    display: block;
    .circle(6px);
    background-color: @special-red-darker;
  }

  @media (min-width: @tablet-width) {
    left: 4px;
    align-self: start;
    margin-bottom: 18px;
    padding-right: 20px;

    &::after {
      position: relative;
      top: -4px;
      right: -16px;
      display: inline-block;
      .circle(8px);
    }
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 20px;
    padding: 48px 20px 0 4px;

    &::after {
      position: absolute;
      top: 59px;
      left: -22px;
    }
  }

  &--online {
    &::after {
      background-color: @special-green;
    }
  }
}

.traveler-card__name-br {
  @media (min-width: @tablet-width) {
    display: none;
  }
}

.traveler-card__profile-link {
  font-weight: 700;
  .fontsize(20px);
  color: @basic-blue-light;

  @media (min-width: @tablet-width) {
    .fontsize(30px);
  }

  &--avatar {
    grid-area: avatar;
    .circle(70px);
    overflow: hidden;

    @media (min-width: @tablet-width) {
      width: unset;
      height: unset;
      border-radius: 20px;
    }

    @media (min-width: @desktop-width) {
      padding: 0;
      border-radius: 20px 0 0 20px;
    }
  }
}

.traveler-card__avatar {
  display: block;
  .circle(70px);
  transform: scale(1);
  transition: transform 0.9s ease;

  @media (min-width: @tablet-width) {
    width: 190px;
    height: 190px;
    border-radius: 20px;
  }

  @media (min-width: @desktop-width) {
    width: 285px;
    height: 285px;
    border-radius: 20px 0 0 20px;
  }
}

.traveler-card:hover .traveler-card__avatar,
.traveler-card:focus-within .traveler-card__avatar {
  transform: scale(1.25);
}

.traveler-card__likes {
  position: relative;
  top: -4px;
  left: -37px;
  grid-area: likes;
  display: flex;
  align-items: center;

  @media (min-width: @tablet-width) {
    position: static;
    align-self: center;
    padding-right: 20px;
  }

  @media (min-width: @desktop-width) {
    align-self: start;
  }
}

.traveler-card__like-button {
  position: relative;
  .circle(30px);
  margin-right: 6px;
  border: 0;
  background-color: @basic-steelblue;
  cursor: pointer;

  &:hover,
  &:focus,
  &:active {
    background-color: @special-bluegrey;
  }

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    width: 12px;
    height: 10px;
    background-color: @red;
    transform: translate(-50%, -50%);
  }

  &:active::before {
    opacity: 0.3;
  }

  &--liked {
    background-color: @special-pink;

    &:hover,
    &:focus,
    &:active {
      background-color: @special-pink-saturated;
    }
  }

  @media (min-width: @tablet-width) {
    .circle(50px);
    margin-right: 7px;

    &::before {
      width: 21px;
      height: 18px;
    }
  }
}

.traveler-card__likes-counter {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  color: @basic-blue;

  @media (min-width: @tablet-width) {
    .fontsize(20px);
  }
}

.traveler-card__tags {
  grid-area: tags;
  margin: 0;
  padding: 10px 70px 20px 26px;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;

  @media (min-width: @tablet-width) {
    padding: 0 90px 20px 7px;
    font-size: 20px;
    line-height: 23px;
  }

  @media (min-width: @desktop-width) {
    padding: 0 70px 20px 8px;
  }
}

.traveler-card__countries {
  grid-area: countries;
  padding-bottom: 22px;
  border-top: 1px solid @basic-steelblue;
  border-bottom: 1px solid @basic-steelblue;

  @media (min-width: @tablet-width) {
    margin-top: 23px;
    padding-bottom: 0;
    border-bottom: 0;
  }

  @media (min-width: @desktop-width) {
    margin: 0;
    padding: 0;
    border: 0;
  }
}

.traveler-card__transport {
  grid-area: transport;

  @media (min-width: @tablet-width) {
    padding-right: 36px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 9px;
    padding: 0;
  }
}

.traveler-card .traveler-card__transport-title {
  @media (min-width: @tablet-width) {
    display: none;
  }
}

.traveler-card__transport-list {
  position: relative;
  top: -7px;
  justify-content: flex-start;
  padding-left: 21px;

  @media (min-width: @tablet-width) {
    top: -3px;
    padding-left: 14px;
  }

  @media (min-width: @desktop-width) {
    top: 0;
    left: -5px;
    padding-right: 15px;
    padding-left: 0;
  }
}

.traveler-card__level {
  grid-area: level;
  min-height: 61px;
  margin-bottom: 15px;

  @media (min-width: @tablet-width) {
    margin-bottom: 0;
  }
}

.traveler-card__level-title {
  position: relative;
  display: inline-block;
  margin: 0 0 10px;
  padding: 0 10px 0 14px;
  font-weight: 400;
  font-size: 15px;
  line-height: 16px;
  text-transform: lowercase;
  background-color: @white;
  transform: translateY(-73%);

  @media (min-width: @tablet-width) {
    display: none;
  }
}

.traveler-card__badge {
  position: relative;
  top: -13px;
  left: 10px;

  @media (min-width: @tablet-width) {
    top: -2px;
    left: -1px;
    width: 60px;
    height: 60px;
  }

  @media (min-width: @desktop-width) {
    top: -6px;
  }
}

.traveler-card__level-bar {
  width: 45px;
  height: 45px;

  @media (min-width: @tablet-width) {
    width: 62px;
    height: 62px;
  }
}

.traveler-card__badge-label {
  display: none;

  @media (min-width: @tablet-width) {
    display: inline;
    color: fade(@black, 40%);
  }
}

.traveler-card__send-message {
  grid-area: button;
  margin: 0 20px;
  padding: 8px 20px 2px;

  @media (min-width: @tablet-width) {
    align-self: center;
    padding: 16px 20px 12px;
    margin: 0;
  }

  @media (min-width: @desktop-width) {
    align-self: start;
  }
}
